[tool.poetry]
name = "csw"
version = "1.3.10"
description = "Catalogue service for spatial records over HTTP in the Department of Biodiversity, Conservation and Attractions."
authors = ["ASU <asu@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.10"
django = "3.2.24"
psycopg2 = "2.9.9"
django-extensions = "3.2.3"
python-dotenv = "1.0.1"
dbca-utils = "2.0.2"
dj-database-url = "2.1.0"
gunicorn = "22.0.0"
django-reversion = "5.0.12"
whitenoise = {version = "6.6.0", extras = ["brotli"]}
lxml = "5.2.1"
pycsw = "2.6.1"
pyproj = "3.6.1"
sqlalchemy = "2.0.29"
djangorestframework = "3.15.1"
django-filter = "23.5"
mixer = "7.2.2"
requests = "2.31.0"
# Note that click is required, but isn't declared as a dependency by pycsw.
click = "8.1.7"
django-storages = {version = "1.14.2", extras = ["azure"]}

[tool.poetry.group.dev.dependencies]
ipython = "^8.23.0"
ipdb = "^0.13.13"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
