[tool.poetry]
name = "csw"
version = "1.3.9"
description = "Catalogue service for spatial records over HTTP in the Department of Biodiversity, Conservation and Attractions."
authors = ["ASU <asu@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.10"
django = "3.2.23"
psycopg2 = "2.9.9"
django-extensions = "3.2.3"
python-dotenv = "1.0.0"
dbca-utils = "1.1.6"
dj-database-url = "2.1.0"
gunicorn = "21.2.0"
django-reversion = "5.0.4"
whitenoise = {version = "6.5.0", extras = ["brotli"]}
lxml = "4.9.3"
pycsw = "2.6.1"
pyproj = "3.6.1"
sqlalchemy = "1.4.49"
djangorestframework = "3.14.0"
django-filter = "23.5"
mixer = "6.1.3"
requests = "2.31.0"
# Note that click is required, but isn't declared as a dependency by pycsw.
click = "8.1.7"
django-storages = {version = "1.13.2", extras = ["azure"]}

[tool.poetry.group.dev.dependencies]
ipython = "^8.13.0"
ipdb = "^0.13.13"
black = "^23.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
