git+git://github.com/dbca-wa/dbca-utils@1.0.1
psycopg2-binary==2.7.7
Django==2.1.7
django-extensions==2.1.5
gunicorn==19.9.0
dj-static==0.0.6
django-confy==1.0.4
django-reversion==3.0.2
six==1.10.0  # Requirement of pycsw
pycsw==2.2.0
pyproj==1.9.5.1
sqlalchemy==1.2.10
djangorestframework==3.8.2
django-filter==2.0.0
mixer==6.1.3
