apiVersion: apps/v1
kind: Deployment
metadata:
  name: csw-deployment
spec:
  template:
    spec:
      containers:
        - name: csw
          envFrom:
            - secretRef:
                name: csw-env-uat
